---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
} & Record<string, any>;

const { href, external, underline = true, ...rest } = Astro.props;
---

<a 
  href={href} 
  target={ external ? "_blank" : "_self" } 
  class={cn("inline-block decoration-black/20 dark:decoration-white/35 hover:decoration-black/30 hover:dark:decoration-white/50 text-current hover:text-stone-900 hover:dark:text-stone-100 transition-colors duration-300 ease-in-out", underline && "underline underline-offset-2")}
  {...rest}>
  <slot/>
</a>
